<div class="row">
  <div class="col-md-2">
    <%= render partial: "layouts/user_menu" %>
  </div>
  <div class="col-md-10">

    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <h4>Registered Users</h4>
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row">
      <div class="table-striped table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>
                First Name
              </th>
              <th>
                Last Name
              </th>
              <th>
                Email
              </th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user|%>
              <tr>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
